* {
    margin: 0;

    padding: 0;
}

body {
    background: linear-gradient(to left, rgb(54, 34, 63), rgb(0, 0, 0));
    ;
}

.head {
    display: flex;
    height: 7vh;
    position: relative;
    background: linear-gradient(to left, rgb(54, 34, 63), rgb(0, 0, 0));
    color: #000;

    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 5px 13px 4px rgba(65, 64, 64, 0.463);
}

.head h1 {
    margin-left: 5%;
    font-size: 2.5rem;
    color: transparent;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.head h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    border-right: 3px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    animation: animate 4s linear infinite 500ms;

}

@keyframes animate {

    0%,
    90%,
    100% {
        width: 0;
    }

    50%,
    70% {
        width: 100%;
    }

}



/*main page**************/

.debug-main-page {

    width: 100%;
    background: linear-gradient(to left, rgb(54, 34, 63), rgb(0, 0, 0));
    display: flex;
    height: 100vh;
    


}

.debug-main-page .form-sub-div {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 80%;

}


.form-sub-div form {
    padding: 30px 100px;
    color: #ffffff;
    position: relative;
    border-radius: 14px 0px 0px 14px;
    border: 2px solid #ffffff;
    background: url(images1/maginfier.png);
    backdrop-filter: blur(10px);
    background-position: center;
    background-size: 680px;
    background-repeat: no-repeat;


    line-height: 25px;
    animation: animationform 3s infinite linear;

}

.form-sub-div form h2 {
    align-items: center;
    font-size: 2rem;
    line-height: 83px;
    text-decoration: underline white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.form-sub-div form input {
    padding: 7px 25px;
    color: #fff;
    border: 2px solid white;
    background: transparent;
    border-radius: 6px;
    outline: none;

}

.form-sub-div form select {
    padding: 6px 69px;
    border-radius: 6px;
    color: #ffffff;
    border: 2px solid white;
    background: transparent;
}
.form-sub-div  form select option{
    background-color: black;
    color: #fff;
}
.form-sub-div form input:valid,
.form-sub-div form input:focus {
    border: 2px solid rgb(5, 255, 34);
}

.form-sub-div form label {
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Courier New', Courier, monospace;

}

#submit-button:focus,
#submit-button:valid {
    border: none;
}

#submit-button {
    
    top: 20px;
    background-color: #ffffff;
    color: #000000;
    position: relative;
    isolation: isolate;
}
#submit-button:hover{
    background-color: #7d14f6;
    transition: all .5s;
    color: #fff;
    animation: button 3s infinite linear;
}
@keyframes button {
    0% {
        border: 2px solid red;
    }
    50%{
        border: 2px solid blue;
    }

    100% {
        border: 2px solid rgb(51, 255, 0);
    }
}

/*image adding*/
.form-sub-div .pic-area {

    /*Add image**************/
    background: url(images1/blind_code.jpg);
    border: 2px solid #ffffff;
    background-size: cover;
    border-radius: 0px 15px 15px 0px;
    background-position: center;
    padding: 262px 200px;
    height: 11.5px;

}



/*descreption araaaaaa*************/

.pic-and-des-div {
    width: 30%;
    height: 100vh;
    color: #ffffff;
     margin-top: 12%;
    justify-content: center;
    align-items: center;
    display: block;
    
}
.pic-and-des-div h2{
    margin-bottom: 15px;
}

.pic-and-des-div h1 {
    text-align: center;
    font-size: 1.7rem;
}


@media (max-width:1252px) {
    .form-sub-div form {
        padding: 30px 70px;
    }

    .form-sub-div .pic-area {
        padding: 256px 150px;
    }
}

@media(max-width:950px) {
    .pic-and-des-div {
        display: none;
    }

}

@media (max-width:960px) {
    .pic-and-des-div h1 {
        font-size: 1.3rem;
    }

}

@media (max-width:735px) {
    .head h1 {
        margin-left: 25%;
    }

    .debug-main-page {
        display: block;
        width: 100%;

        height: 140vh;
    }

    .debug-main-page .form-sub-div {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .form-sub-div form {
        margin-top: 7%;
        padding: 30px 70px;
        margin-left: 7%;
        width: 170px;
    }

    .form-sub-div .pic-area {
        margin-top: 5%;
        margin-left: 7%;
    }

    .form-sub-div form input {
        padding: 4px 14px;
    }

    .form-sub-div form h2 {
        font-size: 1.2rem;
    }

    .pic-and-des-div {
        display: block;
        width: 100%;
        height: 90vh;
  
}
}
@media (max-width:435px) {
    .head h1 {
        margin-left: 25%;
    }

    .debug-main-page {
        display: block;
        width: 100%;

        height: 140vh;
    }

    .debug-main-page .form-sub-div {
        display: block;
        justify-content: center;
        align-items: center;
    }

    .form-sub-div form {
        margin-top: 7%;
        padding: 30px 70px;
        margin-left: 7%;
        width: 170px;
    }

    .form-sub-div .pic-area {
        margin-top: 5%;
        margin-left: 7%;
    }

    .form-sub-div form input {
        padding: 4px 14px;
    }

    .form-sub-div form h2 {
        font-size: 1.2rem;
    }

    .pic-and-des-div {
        display: block;
        width: 100%;
        height: 90vh;
    }
}

@media(max-height:700px) {
    .debug-main-page {
        height: 170vh;
    }

}

.pay{
    background-color:transparent;
    height: 20vh;
    width: 100%;
    text-align: center;
}
.bn54 {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 40px;
    width: 120px;
    opacity: 1;
    background-color:red;
    border: 1px solid rgba(0, 0, 0, 0.6);
    left: 95px;
    
  }
  
  .bn54 .bn54span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 12px;
    font-weight: 550;
    letter-spacing: 0.7px;
  }
  
  .bn54:hover {
    animation: bn54rotate 0.7s ease-in-out both;
  }
  
  .bn54:hover .bn54span {
    animation: bn54storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
  }
  
  @keyframes bn54rotate {
    0% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
    25% {
      transform: rotate(3deg) translate3d(0, 0, 0);
    }
    50% {
      transform: rotate(-3deg) translate3d(0, 0, 0);
    }
    75% {
      transform: rotate(1deg) translate3d(0, 0, 0);
    }
    100% {
      transform: rotate(0deg) translate3d(0, 0, 0);
    }
  }
  
  @keyframes bn54storm {
    0% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
    25% {
      transform: translate3d(4px, 0, 0) translateZ(0);
    }
    50% {
      transform: translate3d(-3px, 0, 0) translateZ(0);
    }
    75% {
      transform: translate3d(2px, 0, 0) translateZ(0);
    }
    100% {
      transform: translate3d(0, 0, 0) translateZ(0);
    }
  }